body, html {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    height: 100%;
}

.header {
    background-color: #432534;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 35px;
}

button.add{
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
}

button.add, .remove, .change {
    background-color: #c44900;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.books{
    background-color: #efd6ac;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    padding: 10px;
}

.book {
    position: relative;
    color: #efd6ac;
    background-color: #403d39;
    align-self: center;
    width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(196, 73, 0, 0.4) 5px 5px, rgba(196, 73, 0, 0.3) 10px 10px, rgba(67, 37, 52, 0.8) 15px 15px;
}

h1 {
    color: #c44900;
}

dialog {
    background-color: #432534;
    color: #c44900;
    padding: 20px;
    height: 300px;
    width: 250px;
    border-radius: 30px;
}

form {
    display: grid;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.title, .author, .pages, .read, .submit{
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
    justify-content: space-between;
}

input {
    border-radius: 10px;
    padding: 3px 4px;
}

dialog::backdrop {
    background-color: #403d39;
    opacity: 0.5;
}

.change {
    position: absolute;
    top:  140px;
    left: 150px;
}

.remove {
    margin-top: 20px;
}